/bin/

aggregation.js
input-olap.csv
input-reviews.csv
log.txt
output-params.csv
settings-olap.properties
output-sequences.csv
settings.properties
full-dopan-file.csv
output-params-reviews.csv
output-params-dopan.csv
settings.properties-reviews